@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --gray-25: #f8f8f8;
  --gray-50: #edeef2;
  --gray-100: #e0e0e5;
  --gray-200: #c6c8cf;
  --gray-300: #b3b4bc;
  --gray-400: #9fa0a7;
  --gray-500: #84858c;
  --gray-600: #707177;
  --gray-700: #5d5d61;
  --gray-800: #49494c;
  --gray-900: #323236;
  --gray-950: #1f1f22;

  --primary-100: #e5f3ff;
  --primary-500: #3d9ef2;
  --red-500: #ff2727;

  --text-10: 10px;
  --text-12: 12px;
  --text-13: 13px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-32: 32px;
}

body {
  font-family: "Pretendard", Pretendard, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

@utility text-10-medium {
  font-size: var(--text-10);
  font-weight: 500;
}

@utility text-10-bold {
  font-size: var(--text-10);
  font-weight: 700;
}

@utility text-12-medium {
  font-size: var(--text-12);
  font-weight: 500;
}

@utility text-12-bold {
  font-size: var(--text-12);
  font-weight: 700;
}

@utility text-13-medium {
  font-size: var(--text-13);
  font-weight: 500;
}

@utility text-13-bold {
  font-size: var(--text-13);
  font-weight: 700;
}

@utility text-14-medium {
  font-size: var(--text-14);
  font-weight: 500;
}

@utility text-14-bold {
  font-size: var(--text-14);
  font-weight: 700;
}

@utility text-16-medium {
  font-size: var(--text-16);
  font-weight: 500;
}

@utility text-16-bold {
  font-size: var(--text-16);
  font-weight: 700;
}

@utility text-18-medium {
  font-size: var(--text-18);
  font-weight: 500;
}

@utility text-18-bold {
  font-size: var(--text-18);
  font-weight: 700;
}

@utility text-20-medium {
  font-size: var(--text-20);
  font-weight: 500;
}

@utility text-20-bold {
  font-size: var(--text-20);
  font-weight: 700;
}

@utility text-24-medium {
  font-size: var(--text-24);
  font-weight: 500;
}

@utility text-24-bold {
  font-size: var(--text-24);
  font-weight: 700;
}

@utility text-32-medium {
  font-size: var(--text-32);
  font-weight: 500;
}

@utility text-32-bold {
  font-size: var(--text-32);
  font-weight: 700;
}

@utility body-14-medium {
  font-size: var(--text-14);
  font-weight: 500;
  line-height: 1.8;
}

@utility body-16-medium {
  font-size: var(--text-16);
  font-weight: 500;
  line-height: 1.8;
}

@utility body-18-bold {
  font-size: var(--text-18);
  font-weight: 700;
  line-height: 1.4;
}

@utility body-20-bold {
  font-size: var(--text-20);
  font-weight: 700;
  line-height: 1.6;
}
